* {
  margin: 0px;
}

body {
  font-family: "Actor", sans-serif;
  position: relative;
  padding-bottom: 7em;
  min-height: 100vh;
}

header {
  background-color: #69D2E7;
  display: block;
}

footer {
  background-color: #A7DBD8;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 10%;
}
footer .footerDiv {
  display: flex;
  font-size: 30px;
  justify-content: center;
  gap: 30px;
  margin-top: 15px;
}
footer a {
  color: #000;
  text-decoration: none;
}
footer a :hover {
  color: #FFFFFF;
}

.nave ul {
  flex-direction: row;
  display: flex;
  list-style: none;
  gap: 30px;
  justify-content: right;
  margin-right: 20px;
  font-size: 30px;
}
.nave a {
  color: #000;
  text-decoration: none;
}
.nave a :hover {
  color: #FFFFFF;
}

.DivBarra {
  display: flex;
  justify-content: center;
  margin-left: -200px;
  margin-bottom: -38px;
}
.DivBarra .barra {
  margin-right: -10em;
  min-width: 600px;
  min-height: 10px;
  font-size: 20px;
}

.nav-tabs {
  width: 100px;
  list-style: none;
  text-decoration: none;
}
.nav-tabs :hover {
  color: #FFFFFF;
}

.opciones {
  display: grid;
  grid-template-columns: 300px 300px 300px;
  grid-template-rows: 155px 155px;
  justify-content: center;
  padding-bottom: 150px;
}
.opciones li {
  background-image: url(../../img/backgroundimage.jpg);
  box-shadow: 4px 4px 4px 3px #000;
  list-style: none;
  border-radius: 10px;
  padding-left: 100px;
  padding-right: 100px;
  padding-top: 50px;
  padding-bottom: 50px;
  margin: 7px;
}
.opciones li a {
  color: rgb(0, 238, 255);
  text-shadow: 2px 2px 2px #000;
}
.opciones li a :hover {
  color: #A7DBD8;
}

.gallery-container {
  display: grid;
  grid-template-columns: repeat(2, 700px);
  grid-auto-rows: 400px;
  padding: 20px;
  grid-gap: 10px;
  justify-content: center;
}
.gallery-container .gallery-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.gallery-container .gallery-item:nth-child(3) {
  grid-column-start: span 2;
}

.carousel-item h5 {
  color: rgba(0, 0, 0, 0.5215686275);
  text-shadow: 1px 1px 1px #fff;
}
.carousel-item p {
  color: #fa2e2e;
  text-shadow: 1px 1px 1px #fff;
}

.Divcard {
  display: flex;
  flex-direction: row;
  justify-content: center;
  filter: drop-shadow(8px 8px 4px #000);
  text-align: center;
}
.Divcard div {
  margin: 10px;
}

.this:hover {
  animation: fadeIn;
  animation-duration: 1s;
}

.busqueda h1 {
  display: flex;
  justify-content: center;
}
.busqueda h2 {
  display: flex;
  justify-content: center;
}
.busqueda a {
  color: #000;
  text-decoration: none;
}
.busqueda a :hover {
  color: #FFFFFF;
}

.contacto {
  display: flex;
  flex-direction: column;
  text-align: center;
}
.contacto h1 {
  display: flex;
  justify-content: center;
}
.contacto form {
  font-size: 25px;
  list-style: none;
  filter: drop-shadow(8px 8px 10px #000);
}
.contacto input {
  font-size: 20px;
  background-color: #E0E4CC;
}
.contacto select {
  font-size: 20px;
  background-color: #E0E4CC;
}

.enviar:hover {
  color: #FFFFFF;
}

.frecuentes h1 {
  display: flex;
  justify-content: center;
}
.frecuentes ul {
  font-size: 22px;
  list-style: none;
  display: flex;
  flex-direction: column;
  text-align: center;
}
.frecuentes h3 {
  display: flex;
  justify-content: center;
}

.preguntas {
  display: block;
  text-align: center;
  filter: drop-shadow(4px 4px 4px #000);
}
.preguntas input {
  font-size: 20px;
  margin-left: 10px;
  background-color: #E0E4CC;
}
.preguntas textarea {
  font-size: 20px;
  margin-left: 10px;
  background-color: #E0E4CC;
}
.preguntas .email {
  min-width: 480px;
}

.stock {
  background-color: #FFFFFF;
  min-height: 100vh;
}
.stock h1 {
  display: flex;
  justify-content: center;
}

.sucursales h1 {
  display: flex;
  justify-content: center;
}
.sucursales span {
  display: inline-block;
  background-color: #E0E4CC;
  border-style: solid;
  color: #000;
  list-style: none;
  border-radius: 10px;
  padding-left: 35px;
  padding-right: 35px;
  padding-top: 50px;
  padding-bottom: 50px;
  margin-top: 7px;
  margin-left: 7px;
  box-shadow: 8px 8px 8px #000;
  text-align: center;
}

.zapatillas, .camperas, .pantalones, .camisas, .remeras, .gorras {
  background-color: #FFFFFF;
}
.zapatillas h1, .camperas h1, .pantalones h1, .camisas h1, .remeras h1, .gorras h1 {
  display: flex;
  justify-content: center;
}

header {
  grid-area: header;
}

footer {
  grid-area: footer;
}

main {
  grid-area: contenido;
}

.carousel {
  display: flex;
  width: 90%;
  padding-bottom: 10px;
  position: absolute;
  justify-content: center;
  margin-left: 3%;
  filter: drop-shadow(4px 4px 4px #000);
}

@media screen and (max-width: 480px) and (orientation: portrait) {
  #grid {
    display: grid;
    grid-template-areas: "header header header" "contenido contenido cotenido" "footer footer footer";
  }
  #header .logo {
    margin: 0;
    width: 70px;
  }
  #header .barra {
    margin-right: -10em;
    min-width: 270px;
    min-height: 10px;
    position: absolute;
    left: 90px;
    top: 20px;
    font-size: 20px;
  }
  #header .nav-tabs {
    display: flex;
    font-size: 25px;
    position: absolute;
    left: 340px;
    top: 19px;
  }
  #header .nav-link {
    width: 90px;
  }
  #header .nave ul {
    display: none;
  }
  header {
    padding-bottom: 30px;
  }
  footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 10%;
  }
  body {
    position: relative;
  }
  .footerDiv {
    font-size: 25px;
  }
  .busqueda h1 {
    margin-top: 40px;
  }
  .stock h1 {
    margin-top: 40px;
  }
  .contacto h1 {
    display: flex;
    justify-content: center;
    padding-top: 50px;
  }
  .sucursales h1 {
    display: flex;
    justify-content: center;
    padding-top: 50px;
  }
  .sucursales span {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .sucursales {
    padding-bottom: 50px;
  }
  .frecuentes h1 {
    padding-top: 50px;
  }
  .frecuentes h3 {
    padding-top: 50px;
  }
  .camisas h1 {
    display: flex;
    justify-content: center;
    padding-top: 50px;
  }
  .zapatillas h1, .gorras h1, .remeras h1, .camisas h1, .pantalones h1, .camperas h1 {
    display: flex;
    justify-content: center;
    padding-top: 50px;
  }
  .gorras h1 {
    display: flex;
    justify-content: center;
    padding-top: 50px;
  }
  .remeras h1 {
    padding-top: 50px;
  }
  .pantalones h1 {
    padding-top: 50px;
  }
  .camperas h1 {
    padding-top: 50px;
  }
  .opciones {
    display: grid;
    grid-template-columns: 300px;
    grid-template-rows: 155px 155px 155px 155px 155px 155px;
    padding-bottom: 150px;
  }
  .gallery-container {
    display: grid;
    grid-template-columns: repeat(1, 450px);
    grid-auto-rows: 400px;
    padding-top: 50px;
  }
  .gallery-item:nth-child(3) {
    grid-column-start: span 1;
  }
  .Divcard {
    display: flex;
    flex-direction: column;
    padding-bottom: 200px;
    text-align: center;
  }
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  #grid {
    display: grid;
    grid-template-areas: "header header header" "contenido contenido cotenido" "footer footer footer";
  }
  #header .nave ul {
    display: none;
  }
  #header .barra {
    margin-right: -10em;
    min-width: 500px;
    min-height: 10px;
    font-size: 20px;
    margin-bottom: 20px;
    margin-top: -60px;
  }
  .DivBarra {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
  }
  #header .nav-tabs {
    font-size: 25px;
  }
  .Divnav {
    display: flex;
    justify-content: end;
    margin-top: -80px;
    margin-right: 20px;
  }
  #header .nav-link {
    width: 90px;
    display: flex;
  }
  .footerDiv {
    font-size: 25px;
  }
  .opciones {
    display: grid;
    grid-template-columns: 300px 300px;
    grid-template-rows: 155px 155px 155px;
  }
  .gallery-container {
    display: grid;
    grid-template-columns: repeat(2, 360px);
  }
  .sucursales span {
    display: block;
    padding: 10px;
    margin-bottom: 30px;
    margin-top: 0px;
  }
  .Divcard {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
    padding-bottom: 200px;
  }
}
@media screen and (min-width: 1200px) {
  .DivLogo {
    display: flex;
    justify-content: flex-start;
  }
  .nav-tabs {
    display: none;
  }
  .DivBarra {
    margin-top: -60px;
  }
}

/*# sourceMappingURL=main.css.map */
