@media screen and (max-width: 480px) and (orientation: portrait){
    #grid {
        display: grid;
        grid-template-areas: 
        "header header header"
        "contenido contenido cotenido"
        "footer footer footer";
    
    }
    #header .logo {
        margin: 0;
        width: 70px;
        display: none;
    }
    #header .barra {
        margin-right: -10em;
        min-width: 270px;
        min-height:10px;
        position: absolute;
        left: 90px;
        top: 20px;
        font-size: 20px;
        display: none;
    }
    #header .nav-tabs{
        display: flex;
        font-size: 25px;
        position: absolute;
        left: 340px;
        top: 19px;
    }
    #header .nav-link  {
        width: 90px;
    }
    #header .nave ul {
        display: none;
    }
    header{
        padding-bottom: 30px;
      }
    footer {
        position: absolute;
        bottom: 0;
        width: 100%;
    }
    body {
        position: relative;
    }
    .footerDiv {
        font-size: 25px;
    }
    .busqueda h1 {
        margin-top: 40px;
    }
    .stock h1 {
        margin-top: 40px;
    }
    .contacto h1 {
        @include title;
        padding-top: 50px;
    }
    .sucursales h1 {
        @include title;
        padding-top: 50px;
    }
    .sucursales span {
        display: flex;
        flex-direction: column;
        justify-content: center;
      }
      .sucursales {
        padding-bottom: 50px;
        padding-right: 10px;
        iframe {
            width: 360px;
        }
      }
    .frecuentes h1 {
        padding-top: 50px;
    }
    .frecuentes h3 {
        padding-top: 50px;
    }
    .camisas h1 {
        @include title;
        padding-top: 50px;
    }
    .zapatillas h1 {
        @include title;
        padding-top: 50px;
    }
    .gorras h1 {
        @include title;
        padding-top: 50px;
    }
    .remeras h1 {
        padding-top: 50px;
    }
    .pantalones h1 {
        padding-top: 50px;
    }
    .camperas h1 {
        padding-top: 50px;
    }
    .opciones {
        display: grid;
        grid-template-columns: 300px;
        grid-template-rows: 155px 155px 155px 155px 155px 155px;
        padding-bottom: 150px;
    }
      .gallery-container {
        display: grid;
        grid-template-columns: repeat(1, 450px);
        grid-auto-rows: 400px;
        padding-top: 50px;
    }
      .gallery-item:nth-child(3) {
        grid-column-start: span 1;
    }
    .Divcard {
        display: flex;
        flex-direction: column;
        padding-left: 15%;
        text-align: center;
      
      }
    .preguntas {
        textarea {
            font-size: 15px;
        }
    }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
    #grid {
        display: grid;
        grid-template-areas: 
        "header header header"
        "contenido contenido cotenido"
        "footer footer footer";
    
    }
    header {
        width: 100%;
    }
    header .nave ul{
        display: none;
    }
    header .barra {
        margin-right: -10em;
        min-width: 500px;
        min-height:10px;
        font-size: 20px;
        margin-bottom: 20px;
        margin-top: -60px;
    }
    .DivBarra {
        @include title;
        margin-bottom: 20px;
        display: none;
    }
    header .nav-tabs{
        font-size: 25px;
    }
    .DivLogo {
        display: none;
    }
    header .nav-link  {
        width: 90px;
        display: flex;
    }
    .footerDiv {
        font-size: 25px;
    }
    .opciones {
        display: grid;
        grid-template-columns: 300px 300px;
        grid-template-rows: 155px 155px 155px;
      }
    .gallery-container{
        display: grid;
        grid-template-columns: repeat(2,360px);
      }
    .sucursales span {
        display: block;
        padding: 10px;
        margin-bottom: 30px;
        margin-top: 0px;
      }
    .Divcard {
        display: flex;
        flex-wrap: wrap;
        text-align: center;
    }
      
}
 
@media screen and (min-width:1200px) {
   .DivLogo {
    display: flex;
    justify-content: flex-start;
   }
   .Snav {
    display: none;
   }
   .DivBarra {
    margin-top: -60px;
   }
}