@import 'variables';
@import 'start';
@mixin title {
    display: flex;
    justify-content: center;
}
$grid: (
    G-display: grid,
    G-columns: (300px 300px 300px),
    G-rows: (155px 155px),
);
.opciones {
    display: map-get($grid, G-display);
    grid-template-columns: map-get($grid, G-columns);
    grid-template-rows: map-get($grid, G-rows);
    justify-content: center;
    padding-bottom: 150px;
    li {
        background-image: url(../../img/backgroundimage.jpg);
        box-shadow: 4px 4px 4px 3px #000;
        list-style: none;
        border-radius: 10px;
        padding-left: 100px;
        padding-right: 100px;
        padding-top: 50px;
        padding-bottom: 50px;
        margin: 7px;
        a {
            color: rgb(0, 238, 255);
            text-shadow: 2px 2px 2px $a-color;
            :hover {
                color: $seconday-color;
            }
            
        }
    }
}

.gallery-container {
    display: grid;
    grid-template-columns: repeat(2, 700px);
    grid-auto-rows: 400px;
    padding: 20px;
    grid-gap: 10px;
    justify-content: center;
    .gallery-img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    .gallery-item:nth-child(3) {
        grid-column-start: span 2;
    }
}

.Snav {
    margin-bottom: 10px;
}

.carousel-item {
    h5 {
        color: #00000085;
        text-shadow: 1px 1px 1px #fff;
    }
    p {
        color: #fa2e2e;
        text-shadow: 1px 1px 1px #fff;
    }
}

.Divcard {
    display: grid;
    grid-template-columns: repeat(6, 200px);
    grid-template-rows: 600px;
    justify-content: center;
    filter: drop-shadow(8px 8px 4px #000);
    text-align: center;
    div{
        margin: 10px;
    }
}
  
.this:hover {
    animation: fadeIn;
    animation-duration: 1s;
}
.busqueda {
    h1 {
        @include title;
    } 
    h2 {
        @include title;
    }
    a{
        color: $a-color;
        text-decoration: none;
        :hover {
            color: $hover-color;
        }
    }
}

.contacto {
    display: flex;
    flex-direction: column;
    text-align: center;
    h1 {
        @include title;
    }
    form {
        font-size: 25px;
        list-style: none;
        filter: drop-shadow(8px 8px 10px $a-color);
    }
    input {
        font-size: 20px;
        background-color: $alternative-backgroudcolor;
    }
    select {
        font-size: 20px;
        background-color: $alternative-backgroudcolor;
    }
}

.enviar:hover {
    color: $hover-color;
}


.frecuentes {
    h1 {
        @include title;
    }
    ul {
        font-size: 22px;
        list-style: none;
        display: flex;
        flex-direction: column;
        text-align: center;
    }
    h3 {
        @include title;
    }
}

.Divquestions {
    ul {
        gap: 7px;
    }
    .preguntas {
        display:block;
        text-align: center;
        filter: drop-shadow(4px 4px 4px $a-color);
        input{
        font-size: 20px;
        margin-left: 10px;
        background-color: $alternative-backgroudcolor;
        }
        textarea {
            font-size: 20px;
            margin-left: 10px;
            background-color: $alternative-backgroudcolor;
        }
        .email {
            min-width: 480px;
          }
    }
}
.stock {
    background-color: $clothes-backgoundcolor;
    min-height: 100vh; 
    h1 {
        @include title;
    }   
}

.sucursales {
    margin-left: 15px;
    h1 {
        @include title;
    }
    span {
        display: inline-block;
        background-color: $alternative-backgroudcolor;
        border-style: solid; color: $a-color;
        list-style: none;
        border-radius: 10px;
        padding-left: 35px;
        padding-right: 35px;
        padding-top: 50px;
        padding-bottom: 50px;
        margin-top: 7px;
        margin-left: 7px;
        box-shadow: 8px 8px 8px #000;
        text-align: center;
    }
}

.zapatillas {
    background-color: $clothes-backgoundcolor;
    h1 {
        @include title;
    }
}

.gorras {
    @extend .zapatillas;
}

.remeras {
    @extend .zapatillas;
}


.camisas {
    @extend .zapatillas;
}


.pantalones {
    @extend .zapatillas;
}

.camperas {
    @extend .zapatillas;
}

header {
    grid-area: header;
}
footer {
    grid-area: footer;
}
main {
    grid-area: contenido
}

.carousel {
    display: flex;
    width: 90%;
    padding-bottom: 10px;
    position: absolute;
    justify-content: center;
    margin-left: 3%;
    filter: drop-shadow(4px 4px 4px #000);
}
@import 'mediaqueries';