@import "start";
.opciones {
    display: grid;
    grid-template-columns: 300px 300px 300px;
    grid-template-rows: 155px 155px;
    justify-content: center;
    padding-bottom: 50px;
    li {
        background-color: $alternative-backgroudcolor;
        list-style: none;
        border-radius: 10px;
        padding-left: 100px;
        padding-right: 100px;
        padding-top: 50px;
        padding-bottom: 50px;
        margin: 7px;
    }
}


/* .logo {
    /* /* position: absolute;
    left: 150px;*/
    /* margin-bottom: -35px;
    margin-left: 150px; }*/




/*index*/
.gallery-container {
    display: grid;
    grid-template-columns: repeat(2, 700px);
    grid-auto-rows: 400px;
    padding: 20px;
    grid-gap: 10px;
    justify-content: center;
    .gallery-img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    .gallery-item:nth-child(3) {
        grid-column-start: span 2;
    }
}
  
.Divcard {
    display: flex;
    flex-direction: row;
    justify-content: center;
    div{
        margin: 10px;
    }
}
  
.this:hover {
    animation: fadeIn;
    animation-duration: 1s;
}
.busqueda {
    h1 {
    display: flex;
    justify-content: center;
    /* position: relative;
    left: 700px;
    margin: 10px; */
    } 
    h2 {
        display: flex;
        justify-content: center;
        /* position: relative;
        left: 640px;
        margin-bottom: 40px;
        margin-top: 15px; */
    }
    a{
        color: $a-color;
        text-decoration: none;
        :hover {
            color: $hover-color;
        }
    }
}

.contacto {
    h1 {
    display: flex;
    justify-content: center;
    }
    form {
        font-size: 25px;
    }
    input {
        font-size: 20px;
        background-color: $alternative-backgroudcolor;
    }
    select {
        font-size: 20px;
        background-color: $alternative-backgroudcolor;
    }
}

.enviar:hover {
    color: $hover-color;
}

.frecuentes {
    h1 {
    display: flex;
    justify-content: center;
    }
    ul {
        font-size: 22px;
    }
    h3 {
        display: flex;
        justify-content: center;
    }
}

.preguntas {
    input{
    font-size: 20px;
    margin-left: 10px;
    background-color: $alternative-backgroudcolor;
    }
    textarea {
        font-size: 20px;
        margin-left: 10px;
        background-color: $alternative-backgroudcolor;
    }
}

/* .stock card {
    display: inline-block;
    background-color: #FFFFFF;
    border-style: solid; color: #000;
    list-style: none;
    border-radius: 10px;
    padding-left: 40px;
    padding-right: 25px;
    padding-top: 50px;
    padding-bottom: 50px;
    margin-top: 7px;
    margin-left: 7px;
} */

/* .cartas {
    display: flex;
    flex-wrap: wrap;
} */

.stock {
    background-color: $alternative-backgroudcolor;
    min-height: 100vh; 
    h1 {
        display: flex;
        justify-content: center;
    }   
}

.sucursales {
    h1 {
    display: flex;
    justify-content: center;
    }
    span {
        display: inline-block;
        background-color: $alternative-backgroudcolor;
        border-style: solid; color: $a-color;
        list-style: none;
        border-radius: 10px;
        padding-left: 35px;
        padding-right: 35px;
        padding-top: 50px;
        padding-bottom: 50px;
        margin-top: 7px;
        margin-left: 7px;
    }
}

.zapatillas {
    background-color: $alternative-backgroudcolor;
    h1 {
    display: flex;
    justify-content: center;
    }
}

.gorras {
    background-color: $alternative-backgroudcolor;
    h1 {
        display: flex;
        justify-content: center;  
    }
}

.remeras {
    background-color: $alternative-backgroudcolor;
    h1 {
        display: flex;
        justify-content: center;
    }
}


.camisas {
    background-color: $alternative-backgroudcolor;
    h1 {
        display: flex;
        justify-content: center;
    }
}



.pantalones {
    background-color: $alternative-backgroudcolor;
    h1 {
        display: flex;
        justify-content: center;
    }
}

.camperas {
    background-color: $alternative-backgroudcolor;
    h1 {
        display: flex;
        justify-content: center;
    }
}

header {
    grid-area: header;
}
footer {
    grid-area: footer;
}
main {
    grid-area: contenido
}
/*media*/

@media screen and (max-width: 480px) and (orientation: portrait){
    #grid {
        display: grid;
        grid-template-areas: 
        "header header header"
        "contenido contenido cotenido"
        "footer footer footer";
    
    }
    #header .logo {
        margin: 0;
        width: 70px;
    }
    #header .barra {
        margin-right: -10em;
        min-width: 270px;
        min-height:10px;
        position: absolute;
        left: 90px;
        top: 20px;
        font-size: 20px;
    }
    #header .nav-tabs{
        display: flex;
        font-size: 25px;
        position: absolute;
        left: 340px;
        top: 19px;
    }
    #header .nav-link  {
        width: 90px;
    }
    #header .nave ul {
        display: none;
    }
    footer {
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 10%;
    }
    body {
        position: relative;
    }
    .footerDiv {
        font-size: 25px;
    }
    .busqueda h1 {
        margin-top: 40px;
    }
    .stock h1 {
        margin-top: 40px;
    }
    .contacto h1 {
        display: flex;
        justify-content: center;
        padding-top: 50px;
    }
    .sucursales h1 {
        display: flex;
        justify-content: center;
        padding-top: 50px;
    }
    .frecuentes h1 {
        padding-top: 50px;
    }
    .frecuentes h3 {
        padding-top: 50px;
    }
    .camisas h1 {
        display: flex;
        justify-content: center;
        padding-top: 50px;
    }
    .zapatillas h1 {
        display: flex;
        justify-content: center;
        padding-top: 50px;
    }
    .gorras h1 {
        display: flex;
        justify-content: center;
        padding-top: 50px;
    }
    .remeras h1 {
        padding-top: 50px;
    }
    .pantalones h1 {
        padding-top: 50px;
    }
    .camperas h1 {
        padding-top: 50px;
    }
    .opciones {
        display: grid;
        grid-template-columns: 300px;
        grid-template-rows: 155px 155px 155px 155px 155px 155px;
        padding-bottom: 150px;
    }
      .gallery-container {
        display: grid;
        grid-template-columns: repeat(1, 450px);
        grid-auto-rows: 400px;
        padding-top: 50px;
    }
      .gallery-item:nth-child(3) {
        grid-column-start: span 1;
    }
}
/*Tablets modo vertical*/
@media screen and (min-width: 768px) and (max-width: 1024px) {
    #grid {
        display: grid;
        grid-template-areas: 
        "header header header"
        "contenido contenido cotenido"
        "footer footer footer";
    
    }
    
    #header .nave ul{
        display: none;
    }
    #header .barra {
        margin-right: -10em;
        min-width: 500px;
        min-height:10px;
        font-size: 20px;
        margin-bottom: 20px;
        margin-top: -60px;
    }
    .DivBarra {
        display: flex;
        justify-content: center;
        margin-bottom: 20px;
    }
    #header .nav-tabs{
        font-size: 25px;
    }
    .Divnav {
        display: flex;
        justify-content: right;
        margin-top: -80px;
        margin-right: 20px;
    }
    #header .nav-link  {
        width: 90px;
        display: flex;
    }
    .footerDiv {
        font-size: 25px;
    }
    .opciones {
        display: grid;
        grid-template-columns: 300px 300px;
        grid-template-rows: 155px 155px 155px;
      }
      .gallery-container{
        display: grid;
        grid-template-columns: repeat(2,360px);
      }
      
}
 
@media screen and (min-width:1200px) {
   .DivLogo {
    display: flex;
    justify-content: flex-start;
   }
   .nav-tabs {
    display: none;
   }
   .DivBarra {
    margin-top: -60px;
   }
}
